.doctorName {
  font-weight: bold;
}

ul {
  list-style: none;
}

a li {
  color: blue;
}

a li:hover {
  cursor: pointer;
  color: skyblue;
  text-decoration: underline;
}

button.btn.btn-info {
  margin-bottom: 5%;
  display: block;
}

a.page-control {
  margin-top: 5%;
  margin-left: 33%;
  float: left;
}
